{% load staticfiles %}

<!-- main-navigation start -->
<!-- ================ -->
<div class="main-navigation animated">

  <!-- navbar start -->
  <!-- ================ -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <!-- Toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{% url 'products:index' %}">Produits</a>
          </li>
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="{% url 'users:detail' user.id %}" class="dropdown-toggle" data-toggle="dropdown">{{ user }}</a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'users:detail' user.id %}">Mon profil</a></li>
              <li><a href="{% url 'logout' %}">Déconnexion</a></li>
            </ul>
          </li>
          {%else%}
          <li><a href="{% url 'login' %}">Connexion</a></li>
          {%endif%}
          </li>
        </ul>
      </div>

    </div>
  </nav>
  <!-- navbar end -->

</div>
<!-- main-navigation end -->
