{% extends "base.html" %}

{% load staticfiles %}

{% block content %}


<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title margin-top-clear">{{ product.title }}</h1>
				<!-- page-title end -->

				<div class="row">
						<hr>
						<hr>
							<form role="form">
								<div class="col-md-4">
									<div class="form-group">
										<label>Quantité</label>
										<p>1</p>
									</div>
									<div class="form-group">
										<label>Déjà ouvert?</label>
										<p>Oui</p>
									</div>

									<input type="submit" value="Contacter {{ product.owner.first_name}} " class="btn btn-default">
								</div>
							</form>
					

					<!-- product side start -->
					<aside class="col-md-8">
						<div class="sidebar">
							<div class="side product-item vertical-divider-left">
								<div class="tabs-style-2">
									<!-- Nav tabs -->
									<ul class="nav nav-tabs" role="tablist">
										<li class="active"><a href="#h2tab1" role="tab" data-toggle="tab"><i class="fa fa-file-text-o pr-5"></i>Description</a></li>
										<!-- <li><a href="#h2tab3" role="tab" data-toggle="tab"><i class="fa fa-star pr-5"></i>(3) Reviews</a></li> -->
									</ul>
									<!-- Tab panes -->
									<div class="tab-content padding-top-clear padding-bottom-clear">
										<div class="tab-pane fade in active" id="h2tab1">
											<h4 class="title">
											</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</aside>
					<!-- product side end -->
				</div>
			</div>

			</div>
			<!-- main end -->


			<!-- section start -->
			<!-- ================ -->
			<div class="section clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2>Dans la même catégorie</h2>
							<div class="separator-2"></div>
							<div class="row grid-space-20">
								<div class="col-md-3 col-sm-6">
									<div class="listing-item">
										<div class="overlay-container">
											<a href="shop-product.html" class="overlay small">
												<i class="fa fa-plus"></i>
												<span>View Details</span>
											</a>
										</div>
										<div class="listing-item-body clearfix">
											<h3 class="title"><a href="shop-product.html">Adipisicing 7.7" Tempora 4.2</a></h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempora debitis, sed illo officiis.</p>
											<div class="elements-list pull-right">
												<a href="#" class="wishlist" title="wishlist"><i class="fa fa-heart-o"></i></a>
												<a href="#"><i class="fa fa-shopping-cart pr-10"></i>Add to Cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="listing-item">
										<div class="overlay-container">
											<a href="shop-product.html" class="overlay small">
												<i class="fa fa-plus"></i>
												<span>View Details</span>
											</a>
										</div>
										<div class="listing-item-body clearfix">
											<h3 class="title"><a href="shop-product.html">Consectetur 5.5" Vitae</a></h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempora debitis, sed illo officiis.</p>
											<div class="elements-list pull-right">
												<a href="#" class="wishlist" title="wishlist"><i class="fa fa-heart-o"></i></a>
												<a href="#"><i class="fa fa-shopping-cart pr-10"></i>Add to Cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="listing-item">
										<div class="overlay-container">
											<a href="shop-product.html" class="overlay small">
												<i class="fa fa-plus"></i>
												<span>View Details</span>
											</a>
										</div>
										<div class="listing-item-body clearfix">
											<h3 class="title"><a href="shop-product.html">Rempora 15.4" 4GB illo</a></h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae tempora debitis, sed illo officiis.</p>
											<div class="elements-list pull-right">
												<a href="#" class="wishlist" title="wishlist"><i class="fa fa-heart-o"></i></a>
												<a href="#"><i class="fa fa-shopping-cart pr-10"></i>Add to Cart</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="listing-item">
										<div class="overlay-container">
											<a href="shop-product.html" class="overlay small">
												<i class="fa fa-plus"></i>
												<span>View Details</span>
											</a>
											<span class="badge default-bg">Sale</span>
										</div>
										<div class="listing-item-body clearfix">
											<h3 class="title"><a href="shop-product.html">Dolor 4.4 Smartphone</a></h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
											<div class="elements-list pull-right">
												<a href="#" class="wishlist" title="wishlist"><i class="fa fa-heart-o"></i></a>
												<a href="#"><i class="fa fa-shopping-cart pr-10"></i>Add to Cart</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- section end -->

		</div>
	</div>
</section>
<!-- main-container end -->

{% endblock %}