<div class="modal fade" id="createProductModal" tabindex="-1" role="dialog" aria-labelledby="createProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
        <h4 class="modal-title" id="createProductModalLabel">Ajouter un produit</h4>
      </div>
      <div class="modal-body">

        <!-- Form start -->
        <form id="create-product-form" class="form-horizontal" role="form" action="create" method="post">{% csrf_token %}

          {% if form.category.errors %}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            {{ form.category.errors }}
          </div>
          {% endif %}
          <div class="form-group">
            <label for="inputCategory" class="col-sm-2 control-label">{{ form.category.label }}</label>
            <div class="col-sm-10">
              {{ form.category }}
            </div>
          </div>


          {% if form.title.errors %}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            {{ form.title.errors }}
          </div>
          {% endif %}
          <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">{{ form.title.label }}</label>
            <div class="col-sm-10">
              {{ form.title }}
            </div>
          </div>

          {% if form.description.errors %}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            {{ form.description.errors }}
          </div>
          {% endif %}
          <div class="form-group">
            <label for="inputDescription" class="col-sm-2 control-label">{{ form.description.label }}</label>
            <div class="col-sm-10">
              {{ form.description }}
            </div>
          </div>

          {% if form.expiry_date.errors %}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            {{ form.expiry_date.errors }}
          </div>
          {% endif %}
          <div class="form-group">
            <label for="inputExpiryDate" class="col-sm-2 control-label">{{ form.expiry_date.label }}</label>
            <div class="col-sm-10">
              {{ form.expiry_date }}
            </div>
          </div>

          {% if form.quantity.errors %}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            {{ form.quantity.errors }}
          </div>
          {% endif %}
          <div class="form-group">
            <label for="inputQuantity" class="col-sm-2 control-label">{{ form.quantity.label }}</label>
            <div class="col-sm-10">
              {{ form.quantity }}
            </div>
          </div>

            {% if form.is_opened.errors %}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            {{ form.is_opened.errors }}
          </div>
          {% endif %}
          <div class="checkbox">
            <label for="inputIsOpened" class="col-sm-3 control-label">
              <!-- <div class="col-sm-10"> -->
              {{ form.is_opened }}{{ form.is_opened.label }}
              <!-- </div> -->
            </label>
          </div>

        </form>
        <!-- Form end -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Annuler</button>
        <button id="submit-product-create" type="submit" value="Create" class="btn btn-sm btn-default">Ajouter</button>
      </div>
    </div>
  </div>
</div>
