{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<!-- section start -->
<!-- ================ -->
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title">Produits</h1>
        <div class="separator-2"></div>
        <!-- <p class="lead">Depuis le menu à droite, triez les produits par date, catégorie ou recherchez par mot-clef</p> -->
        <!-- page-title end -->

        <!-- portfolio items start -->
        <!-- <div class="image-boxes isotope-container row">
          {% for product in product_list %}
          <div class="col-sm-6 isotope-item web-design">
            <div class="image-box">
              <div class="overlay-container">
                <div class="overlay">
                  <div class="overlay-links">
                    <a href="#"><i class="fa fa-link"></i></a>
                  </div>
                  <span>{% for category in product.categories.all %}{{category.title}}
                    {% endfor %}
                  </span>
                </div>
              </div>

              <div class="image-box-body">
                <h3 class="title"><a href="portfolio-item.html">{{ product.title }}</a></h3>
                <p>{{ product.description }}</p>
              </div>


            </div>
          </div>
          {% endfor %}
        </div> -->
        <!-- portfolio items end -->


      <!-- sidebar start -->
        <div class="row">
          <aside class="col-md-3 col-md-offset-0">
            <div class="sidebar">
              <div class="block clearfix">
                <!-- <h3 class="title">Catégories</h3> -->
                <!-- <div class="separator"></div> -->
                <div class="tags-cloud">
                  {% for category in category_list %}
                  <div class="tag">
                    <a href="#">{{ category.title }}</a>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="block clearfix">
              <form role="search">
                <div class="form-group has-feedback">
                  <input type="text" class="form-control" placeholder="Rechercher">
                  <i class="fa fa-search form-control-feedback"></i>
                </div>
              </form>
            </div>
          </aside>
          

           <div class="col-md-6 col-md-offset-1">
                  
                  <!-- timeline start -->
                  <div class="timeline row">

                    <div class="timeline-icon hidden-xs"><i class="fa fa-angle-double-up"></i></div>
                    
                    <div class="timeline-date-label clearfix"></div>

                    {% for product in product_list %}

                    <!-- timeline item start -->
                    <div class="timeline-item object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
                      <!-- blogpost start -->
                      <article class="clearfix blogpost">
                        <div class="overlay-container">
                          <!-- <img src="images/blog-2.jpg" alt=""> -->
                          <div class="overlay">
                            <div class="overlay-links">
                              <a href="blog-post.html"><i class="fa fa-link"></i></a>
                              <a href="images/blog-1.jpg" class="popup-img-single" title="image title"><i class="fa fa-search-plus"></i></a>
                            </div>
                          </div>
                        </div>
                        <div class="blogpost-body">
                          <div class="post-info">
                            <span class="day">{{ product.expiry_date.day }}</span>
                            <span class="month">{{ product.expiry_date | date:"b" }} {{ product.expiry_date.year }}</span>
                          </div>
                          <div class="blogpost-content">
                            <header>
                              <h2 class="title"><a href="blog-post.html"> {{ product.title }} </a></h2>
                              <div class="submitted"><i class="fa fa-user pr-5"></i> by <a href="#"> {{ product.owner }} </a></div>
                            </header>
                            <p> {{ product.description }} </p>
                          </div>
                        </div>
                        <footer class="clearfix">
                          <ul class="links pull-left">
                            <!-- <li><i class="fa fa-comment-o pr-5"></i> <a href="#">22 comments</a> |</li>  -->

                            {% for category in product.categories.all %}

                            <li><i class="fa fa-tags pr-5"></i> <a href="#"> {{ category }} </a></li>

                            {% endfor %}
                          </ul>
                        </footer>
                      </article>
                      <!-- blogpost end -->
                    </div>
                    <!-- timeline item end -->
                    {% endfor %}

                  </div>
                  <!-- timeline end -->

               </div>

         <!-- Modal start -->
          <!-- ============================================================================== -->
          <!-- Button trigger modal -->
          <aside class="col-md-1 col-md-offset-0">
            <button class="btn btn-default" data-toggle="modal" data-target="#createProductModal">
              Ajouter un produit
            </button>

            <!-- Modal -->
            {% include "products/product_form.html" %}

            <!-- Modal end -->
          </aside>
        
      <!-- sidebar end -->


        <!-- pagination start -->
        {% if pages > 1 %}
        <ul class="pagination">
          <li><a href="#">«</a></li>
          {% for }
          <li class="active"><a href="#">{{ pages }} <span class="sr-only">(current)</span></a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">»</a></li>
        </ul>
        {% endif %}
        <!-- pagination end -->

      </div>
      <!-- main end -->


    </div>
  </div>
</section>
<!-- main-container end -->
<!-- section end -->
<!-- section end -->


{% endblock %}
