{% extends "base.html" %}

{% load staticfiles %}

{% block content %}


      <!-- page-intro start-->
      <!-- ================ -->
      <div class="page-intro">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{% url 'home' %}">Accueil</a></li>
                <li class="active">Produits</li>

            <div class="row">

                      {% for category in category_list %}
              <!-- portfolio items start -->
                          <div class="col-md-1 col-md-offset-1">
                             <div class="image-box">
                                <div class="overlay-container">
                                   <img src="{% static "categories/images/" %}{{ category.get_filename }}" alt=""><a href="{% url 'products:index' %}?category={{ category.id }}" class="btn btn-light-gray btn-lg btn-block">{{ category }}</a>
                                    <a href="{% url 'products:index' %}?category={{ category.id }}" class="overlay small">
                                   <i class="fa fa-link"></i>
                                    </a>
                                </div>
                              </div>
                          </div>
             </div>
                    
                 
              <!-- portfolio items end -->
              {% endfor %}

              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- page-intro end -->

<!-- section start -->
<!-- ================ -->
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title">Produits</h1>
        <div class="separator-2"></div>
        <!-- page-title end -->


        <div class="row">

          <!-- sidebar start -->
          <aside class="col-md-3 col-md-offset-0">
            <div class="sidebar">
              <div class="block clearfix">
                <!-- <h3 class="title">Catégories</h3> -->
                <!-- <div class="separator"></div> -->
                <div class="tags-cloud">
                  <div class="tag">
                    <a href="{% url 'products:index' %}">Tous</a>
                  </div>
                  {% for category in category_list %}
                  <div class="tag">
                    <a href="{% url 'products:index' %}?category={{category.id}}">{{ category.title }}</a>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="block clearfix">
              <form role="search" action="{% url 'products:index' %}" method="GET" class="search-box" action="">
                <div class="form-group has-feedback">
                  <input type="text" name="keyword" class="form-control" placeholder="Rechercher">
                  <i class="fa fa-search form-control-feedback"></i>
                </div>
              </form>
            </div>
          </aside>
          <!-- sidebar end -->

          <div class="col-md-6 col-md-offset-1">

            <!-- timeline start -->
            <div class="timeline row">


              {% for product in product_list %}

              <!-- Display month of the expiry date when it changes -->
              {% ifchanged product.expiry_date.month %}
              <div class="timeline-icon hidden-xs"><i class="fa fa-angle-double-up"></i></div>
              <div class="timeline-date-label clearfix"> {{ product.expiry_date | date:"F" }} {{ product.expiry_date.year }}</div>
              {% endifchanged %}

              <!-- timeline item start -->
              {% if forloop.counter|divisibleby:2 %}
              <div class="timeline-item pull-right object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
              {% else %}
              <div class="timeline-item object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
              {% endif %}

                <!-- blogpost start -->
                <article class="clearfix blogpost">
                  <div class="overlay-container">
                    <div class="overlay">
                      <div class="overlay-links">
                        <a href="{% url 'products:detail' product.id %}"><i class="fa fa-link"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="blogpost-body">
                    <div class="post-info">
                      <span class="day">{{ product.expiry_date.day }}</span>
                      <span class="month">{{ product.expiry_date | date:"M" }} {{ product.expiry_date.year }}</span>
                    </div>
                    <div class="blogpost-content">
                      <header>
                        <h2 class="title"><a href="{% url 'products:detail' product.id %}"> {{ product }} </a></h2>
                        <div class="submitted"><i class="fa fa-user pr-5"></i> by <a href="{% url 'users:detail' product.owner.id %}"> {{ product.owner.first_name }} {{ product.owner.last_name }}</a></div>
                        <!-- <img src="{% static "categories/images/" %}{{ product.category.get_filename }}" alt=""> -->
                      <ul class="center">
                      <!-- <li><i class="fa fa-comment-o pr-5"></i> <a href="#">22 comments</a> |</li>  -->
                      <div class="tag">
                        <h4>
                        <a href="{% url 'products:index' %}?category={{product.category.id}}">{{ product.category }}</a>
                        </h4>
                      </div>
                      </ul>
                      </header>
                      <!-- <p> {{ product.description }} </p> -->
                    </div>
                  </div>
                  <footer class="clearfix">
                    <img src="{% static "categories/images/" %}{{ product.category.get_filename }}" alt="">
                  </footer>
                </article>
                <!-- blogpost end -->

              </div>
              <!-- timeline item end -->

              {% endfor %}


            </div>
            <!-- timeline end -->

          </div>


          {% if user.is_authenticated %}
          <!-- Modal start -->
          <!-- ============================================================================== -->
          <!-- Button trigger modal -->
          <aside class="col-md-1">
            <button id="create-product-button" class="btn btn-default" data-toggle="modal" data-target="#createProductModal">
              Ajouter un produit
            </button>

            <!-- Modal -->
            {% include "products/product_form.html" %}

            <!-- Modal end -->
          </aside>
          {% endif %}



        <!-- pagination start -->
        {% if pages > 1 %}
        <ul class="pagination">
          <li><a href="#">«</a></li>
          {% for }
          <li class="active"><a href="#">{{ pages }} <span class="sr-only">(current)</span></a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">»</a></li>
        </ul>
        {% endif %}
        <!-- pagination end -->

      </div>
      <!-- main end -->

    </div>
  </div>
</section>
<!-- section end -->
<!-- ================ -->
<!-- main-container end -->
<!-- ================ -->


{% endblock %}
