{% extends "base.html" %}

{% load staticfiles %}

{% block content %}


<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title margin-top-clear">{{ product }}</h1>
				<div class="tag">
					<a href="#related-products">{{ product.category }}</a>
				</div>
				<!-- page-title end -->

				<div class="row">
					<hr>
					<hr>
					<div class="blogpost col-md-4">

						<div class="col-sm-8">
							</br></br>
							<label>Date de péremption</label>
						</div>
						<div class="col-sm-4">
							<div class="blogpost-body">
			                    <div class="post-info">
			                      <span class="day">{{ product.expiry_date.day }}</span>
			                      <span class="month">{{ product.expiry_date | date:"M" }} {{ product.expiry_date.year }}</span>
			                    </div>
			                </div>
			            </div>
			            <div class="col-sm-10">
							<label>Quantité</label>
							<p>{{ product.quantity }}</p>
						</div>
						<div class="col-sm-10">
							<label>Déjà ouvert?</label>
							{% if product.is_opened = True %} <p>Oui</p> {% else %} <p>Non</p> {% endif %}
						</div>

					          {% if user.is_authenticated %}
					          <!-- Modal start -->
					          <!-- ============================================================================== -->
					          <!-- Button trigger modal -->
					          <aside class="col-md-1">
					            <button class="btn btn-default pull-right" data-toggle="modal" data-target="#contactUserModal">
					              Contacter {{ product.owner.first_name}}
					            </button>

					            <!-- Modal -->
					            {% include "users/contact_user_form.html" %}

					            <!-- Modal end -->
					          </aside>
					          {% endif %}
					</div>


					<!-- product side start -->
					<aside class="col-md-8">
						<div class="sidebar">
							<div class="side product-item vertical-divider-left">
								<div class="tabs-style-2">
									<!-- Nav tabs -->
									<ul class="nav nav-tabs" role="tablist">
										<li class="active"><a href="#h2tab1" role="tab" data-toggle="tab"><i class="fa fa-file-text-o pr-5"></i>Description</a></li>

										<!-- <li><a href="#h2tab3" role="tab" data-toggle="tab"><i class="fa fa-star pr-5"></i>(3) Reviews</a></li> -->
									</ul>
									<!-- Tab panes -->
									<div class="tab-content padding-top-clear padding-bottom-clear">
										<div class="tab-pane fade in active" id="h2tab1">
											</br>
											<p> {{ product.description }} </p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</aside>
					<!-- product side end -->
				</div>
			</div>

			</div>
			<!-- main end -->


			{% if related_product_list %}
			<!-- section start -->
			<!-- ================ -->
			<div class="section clearfix" id="related-products">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2>Dans la catégorie {{ product.category }}</h2>
							<div class="separator-2"></div>
							<div class="row grid-space-20">
								{% for related_product in related_product_list %}
								<div class="col-md-3 col-sm-6">
									<!-- blogpost start -->
									<article class="clearfix blogpost">
										<div class="overlay-container">
											<!-- <img src="images/blog-2.jpg" alt=""> -->
											<div class="overlay">
												<div class="overlay-links">
													<a href="{% url 'products:detail' product.id %}"><i class="fa fa-link"></i></a>
													<a href="" class="popup-img-single" title="image title"><i class="fa fa-search-plus"></i></a>
												</div>
											</div>
										</div>
										<div class="blogpost-body">
											<div class="post-info">
												<span class="day">{{ related_product.expiry_date.day }}</span>
												<span class="month">{{ related_product.expiry_date | date:"M" }} {{ related_product.expiry_date.year }}</span>
											</div>
											<div class="blogpost-content">
												<header>
													<h2 class="title"><a href="{% url 'products:detail' related_product.id %}"> {{ related_product }} </a></h2>
													<div class="submitted"><i class="fa fa-user pr-5"></i> by <a href="#"> {{ related_product.owner }} </a></div>
												</header>
												<!-- <p> {{ product.description }} </p> -->
											</div>
										</div>
									</article>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- section end -->
			{% endif %}

		</div>
	</div>
</section>
<!-- main-container end -->

{% endblock %}
